/*common css 请勿动*/
html,body,div,h1,h2,h3,h4,h5,h6,p,img,a,ul,li{margin: 0; padding: 0;}
body{font-family: "微软雅黑",Sans-Serif;font-size: 12px;}
ul,ol{list-style-type: none;}
a{text-decoration: none; color: #333;}
img{border: none;}
.clearfix:after{content: "";visibility: hidden;display: block;clear: both;width: 0;height: 0;}
.clearfix{zoom:1;}
/*页面样式*/
/*头部样式*/
#header{background: url("../img/header_bg.png") repeat-x;}
#header .header_center{width: 900px;margin: 0 auto;}
#header .logo{text-indent: -9999px; width: 100px; height: 30px; float: left; background: url("../img/logo.gif");}
#header .member{position: relative; cursor: pointer; width: 70px;height: 30px;background: url("../img/arrow.png") no-repeat 55px center;float: right; line-height: 30px;}
#header .member .member_ul{display: none; width: 100px;background: #FBF7E1; border: 1px solid #ccc; border-top: none; position: absolute;left: -20px;top: 30px; padding: 10px 0;}
#header .member_ul li{height: 25px; line-height: 25px; letter-spacing: 1px; text-indent: 25px; background: url("../img/arrow3.gif") no-repeat 5px center;}
#header .member_ul li:hover{background: url("../img/arrow4.gif") #FFCC00 no-repeat 5px center;}
#header .member_ul li a{display: block;}
#header .reg,#header .login{cursor: pointer; float: right; height: 30px; line-height: 30px; padding-right:10px;}
/*登录框样式*/
#login{z-index: 9999; position: absolute; display: none; left:0; top: 0;  width: 350px; height: 250px; border: 1px solid #ccc; background-color: #fff;}
#login h2{ border-bottom: 1px solid #ccc; cursor: move; margin-bottom: 20px; height: 40px; line-height: 40px; background: url("../img/login_header.png") repeat-x; text-align: center; font-size: 14px;  letter-spacing: 1px; color: #666;}
#login h2 .close{float: right; position: relative; top: 13px; right: 10px; cursor: pointer;}
#login .user,#login .pass{padding: 5px 0; text-align: center; font-size: 14px; color: #666;}
#login .text{width: 200px; height: 25px; border: 1px solid #ccc; background-color: #fff; font-size: 14px;}
#login .btn{text-align: center; padding: 15px 0;}
#login .btn .sub{width: 107px; height: 30px; border: none; outline: none; cursor: pointer; background: url("../img/login_button.png") no-repeat;}
#login .other{text-align: right; padding-right: 10px; margin-top: 10px;}
/*遮罩锁屏样式*/
#screen{  display: none; z-index: 9998; opacity: 0.3;filter: alpha(opacity = 30); background: #000; position: absolute; top: 0;left: 0;}
/*百度分享栏目样式*/
#share{width: 210px; height: 315px; border: 1px solid #ccc;  position: absolute;left: -211px; top: 200px;}
#share h2{height: 30px; line-height: 30px; background: #eee; font-size: 14px; text-indent: 10px;color: #666;}
#share ul{padding:3px 0 2px 5px;height:254px;}
#share ul li{float: left; width: 96px; height: 28px; padding: 2px; }
#share ul li a{display: block; text-indent: 30px; background:url("../img/share_bg.png") no-repeat 7px 7px; width: 95px; height: 26px; color: #666; line-height: 26px;}
#share .share_footer{background:#eee; height:26px; position: relative;}
#share .share_footer span { display:block;width:24px;height:88px;  background: url("../img/share.png");  position:absolute;  top:-230px;  left:210px;  cursor:pointer;  }
#share .share_footer a { position:absolute; top:7px; left:140px; text-decoration:none; color:#666; padding:0 0 0 13px; background: url("../img/share_bg.png") no-repeat 0 -475px;   }
#share .share_footer a:hover {color:#06f; }
/*
            -25
demo.js:79 -55
demo.js:79 -85
demo.js:79 -115
demo.js:79 -145
demo.js:79 -175
demo.js:79 -205
demo.js:79 -235
demo.js:79 -265
demo.js:79 -295
demo.js:79 -325
demo.js:79 -355
demo.js:79 -385
demo.js:79 -415
demo.js:79 -445
demo.js:79 -475
demo.js:79 -505
demo.js:79 -535
demo.js:79 -565
demo.js:79 -595
demo.js:79 -625
demo.js:79 -655
demo.js:79 -685

#share ul li a.a{background-position: 5px 5px; }
#share ul li a.b{background-position: 5px -25px;}
#share ul li a.c{background-position: 5px -55px;}
#share ul li a.d{background-position: 5px -85px;}
#share ul li a.e{background-position: 5px -115px;}
#share ul li a.f{background-position: 5px -145px;}
#share ul li a.g{background-position: 5px -175px;}
#share ul li a.h{background-position: 5px -205px;}
#share ul li a.i{background-position: 5px -235px;}
#share ul li a.j{background-position: 5px -265px;}
#share ul li a.k{background-position: 5px -295px;}
#share ul li a.l{background-position: 5px -325px;}
#share ul li a.m{background-position: 5px -355px;}
#share ul li a.n{background-position: 5px -385px;}
#share ul li a.o{background-position: 5px -415px;}
#share ul li a.p{background-position: 5px -445px;}*/
#share ul li a.a{background-position-x: 5px }
#share ul li a.b{background-position-x: 5px }
#share ul li a.c{background-position-x: 5px }
#share ul li a.d{background-position-x: 5px }
#share ul li a.e{background-position-x: 5px }
#share ul li a.f{background-position-x: 5px }
#share ul li a.g{background-position-x: 5px }
#share ul li a.h{background-position-x: 5px }
#share ul li a.i{background-position-x: 5px }
#share ul li a.j{background-position-x: 5px }
#share ul li a.k{background-position-x: 5px }
#share ul li a.l{background-position-x: 5px }
#share ul li a.m{background-position-x: 5px }
#share ul li a.n{background-position-x: 5px }
#share ul li a.o{background-position-x: 5px }
#share ul li a.p{background-position-x: 5px }
