/*common css 请勿动*/
html,body,div,h1,h2,h3,h4,h5,h6,p,img,a,ul,li{margin: 0; padding: 0;}
body{font-family: "微软雅黑",Sans-Serif;font-size: 12px;}
ul,ol{list-style-type: none;}
a{text-decoration: none; color: #333;}
img{border: none;}
.clearfix:after{content: "";visibility: hidden;display: block;clear: both;width: 0;height: 0;}
.clearfix{zoom:1;}
/*页面样式*/
#header{background: url("../img/header_bg.png") repeat-x;}
#header .header_center{width: 900px;margin: 0 auto;}
#header .logo{text-indent: -9999px; width: 100px; height: 30px; float: left; background: url("../img/logo.gif");}
#header .member{position: relative; cursor: pointer; width: 70px;height: 30px;background: url("../img/arrow.png") no-repeat 55px center;float: right; line-height: 30px;}
#header .member .member_ul{display: none; width: 100px;background: #FBF7E1; border: 1px solid #ccc; border-top: none; position: absolute;left: -20px;top: 30px; padding: 10px 0;}
#header .member_ul li{height: 25px; line-height: 25px; letter-spacing: 1px; text-indent: 25px; background: url("../img/arrow3.gif") no-repeat 5px center;}
#header .member_ul li:hover{background: url("../img/arrow4.gif") #FFCC00 no-repeat 5px center;}
#header .member_ul li a{display: block;}
